<html lang="en">
<head>
  <title>상품 목록</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>상품명</B></td>
            <td><B>상품소개</B></td>
            <td><B>판매지역</B></td>
            <td><B>판매가격</B></td>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td> {{product.name}} </td>
            <td> {{product.introduction}} </td>
            <td> <a href = "areas/{{product.area}}/">
                {{product.area}}</a> </td>
            <td> {{product.price}} 원</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>