<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>
	<h1>Sign Up</h1>
	<div class="container">
		<form class="form" action="/accounts/create" method="post">
			{% csrf_token %}
			<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
			<input type="hidden" name="next" value="{{ request.GET.next }}">
			<div class="form-group">
				<label>Username</label>
				<input class="form-control" type="text" name="username">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="email" name="email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input class="form-control" type="password" name="password">
			</div>
			<div class="form-group">
			    <label>Authroization</label>
			    <select name="authorization">
                        <option value="1">Buyer </option>
                        <option value="2">Seller </option>
                </select>
			</div>
			<input type="submit" class="btn btn-primary" value="Sign Up">
		</form>
	</div>

</body>
</html>